@import '../../styles/variables'

.parallax
  height: 14rem
  @media screen and (min-width: $medium)
    height: 18rem
  @media screen and (min-width: $large)
    height: 25rem
  img
    width: 100%
    height: 100%
    object-fit: cover

.headingContainer
  position: absolute
  bottom: 0
  right: 0
  width: 100%
  color: #fff
  background-image: linear-gradient(to bottom, #00000000, #000000)
  h1
    font-size: 1.3rem
    letter-spacing: .3rem
    line-height: 1.1
    font-weight: 400
    text-align: right
    margin-left: auto
    padding: 0 1rem
    @media screen and (min-width: $medium)
      font-size: 2rem
      padding: 0 2rem
      max-width: 70%
    @media screen and (min-width: $large)
      font-size: 3rem
