@import '../../styles/colors'
@import '../../styles/variables'

.logo
  color: $highlight-color
  cursor: pointer
  display: flex
  align-items: center
  transition: opacity .25s ease-in
  width: 28px
  @media screen and (min-width: $medium)
    width: 42px
  &:hover
    opacity: .5
