@import '../../styles/_colors'
@import '../../styles/variables'

.nav
  display: flex
  justify-content: flex-end
  align-items: center
  position: absolute
  width: 100%
  height: $navbarHeight
  font-size: 1.5rem
  border-bottom: 1px solid lightgrey

.navLink
  color: $grey-font
  margin: 0 .75rem
  &:hover
    color: black
    text-decoration: underline
    -text-decoration-color: $grey-font

.navLink:last-of-type
  margin-right: 5rem

.current
  color: $highlight-color

.navigationContainer
  // border: 1px solid pink
  width: 100%
  display: flex
  justify-content: space-between
  // margin-bottom: .2rem

.linksContainer
  @media screen and (max-width: $medium)
    display: none
  // border: 1px solid green
