@import '../../styles/colors'
@import '../../styles/variables'

.nav
  height: $navbarHeight // TODO: mobile navbar height
  width: 100%
  padding: 0 1.5rem
  display: flex
  justify-content: flex-end
  align-items: center
  position: sticky
  top: 0px
  z-index: 2
  background-color: white
  box-shadow: 0px 0px 11px 0px #0000003a
  transition: opacity $defaultAnimLength, top $defaultAnimLength
  @media screen and (min-width: $small)
    font-size: 1.25rem
  @media screen and (min-width: $medium)
    padding: 0 3rem
  @media screen and (min-width: $xlarge)
    font-size: 1.7rem
  @media (prefers-color-scheme: dark)
    background-color: #424242

.hiddenNav
  top: -$navbarHeight
  opacity: 0

.visibleNav
  top: 0px
  opacity: 1

.overlay
  background-color: $overlayColor
  z-index: 1
  width: 100vw
  height: 100vh
  position: fixed

.navigationContainer
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  height: 100%
  border: none
  @media screen and (min-width: $xxlarge)
    margin: 0 auto
    max-width: $mdContMaxWidth

.linksContainer
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  align-content: flex-start
  text-align: right
  position: fixed
  top: 0
  right: 0
  bottom: 0
  z-index: -1
  margin-left: auto
  padding: 1rem 2rem
  width: 60vw
  transform: translate(60vw)
  transition: transform $defaultAnimLength
  background-color: #fff
  margin-top: $navbarHeight
  &.open
    transform: translate(0vw)
  @media screen and (min-width: $medium)
    transform: translate(0vw)
    flex-wrap: nowrap
    padding: 0
    margin: 0
    position: static
    flex-direction: row
    z-index: inherit
    height: 100%
    width: auto

.toggleBtnContainer
  @media screen and (min-width: $medium)
    display: none
    visibility: hidden

.navLink
  display: flex
  align-items: center
  width: 100%
  margin: .3rem 0
  min-height: 2.5rem
  color: $gray-font
  @media (prefers-color-scheme: dark)
    color: inherit
  letter-spacing: 1.35px
  transition: color .25s ease-in
  transition: border-color .25s ease-in
  border-top: 2px solid transparent
  border-bottom: 2px solid transparent
  @media screen and (min-width: $medium)
    height: 100%
    padding: 0 1.33rem
    border-bottom: 4px solid transparent
    margin: 0
  &:hover
    cursor: pointer
    color: $highlight-color
    border-bottom: 2px solid $highlight-color
    @media screen and (min-width: $medium)
      border-bottom: 4px solid $highlight-color

.current
  color: $highlight-color
  border-bottom: 2px solid $highlight-color
  @media screen and (min-width: $medium)
    border-bottom-width: 4px
