@import '../../../styles/_colors'
@import '../../../styles/_variables'

.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  overflow: hidden
  margin-bottom: 10rem

.mySwiper
  width: 90%
  max-width: 100rem

.swipeItem
  text-align: center
  /* Center slide text vertically */
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.swipeItem .imgBox
  padding: 1rem

.swipeItem .imgBox img
  width: 100%
  max-width: 35rem
  height: 100%
  box-shadow: 0px 0px 5px 0px rgb(184,184,184)
  @media screen and (min-width: $large)
    max-width: 60rem

.slideDetails
  margin: 2rem 0 4rem

.readMoreLink
  background-color: transparent
  border: 1px solid $grey-font
  padding: 1rem 2rem
  margin: 3rem auto
  font-size: 80%
  font-weight: 400
  letter-spacing: 1.5px
  &:hover
    text-decoration: underline
  @media screen and (min-width: $small)
    font-size: 130%
  @media screen and (min-width: $large)
    font-size: 160%

.slideText
  line-height: 1.6
  font-size: 100%
  max-width: 35rem
  min-height: 160px
  @media screen and (min-width: $extraSmall)
    padding: 0 .5rem
  @media screen and (min-width: $small)
    font-size: 140%
  @media screen and (min-width: $large)
    font-size: 200%
    max-width: 50rem
