@import '../../styles/variables'

.postsListSection
  display: flex
  justify-content: center

.listContainer
  display: inline-grid
  grid-template-columns: 1fr
  grid-gap: 2rem
  max-width: $mdContMaxWidth
  margin: 4rem auto
  padding: 1rem
  @media screen and (min-width: $medium)
    grid-template-columns: 1fr 1fr
    grid-gap: 4rem
    margin: 8rem 0
    padding: 0
  @media screen and (min-width: $large)
    grid-gap: 6rem
    max-width: $lgContMaxWidth
