.listContainer
  // background-color: pink
  display: flex
  flex-direction: row
  justify-content: space-around
  // padding: 1rem
  margin-top: 4rem

.postContainer
  background-color: aliceblue
  width: 22rem
  min-height: 15rem
  // padding: 1rem



