@import '../../styles/variables'
@import '../../styles/colors'

.heading
  color: $grey-font
  margin: 0
  font-weight: 400
  font-size: 100%
  @media screen and (min-width: $xlarge)
    font-size: 150%

.cardContainer
  margin-bottom: 3em
  box-shadow: -1px 3px 11px 0px rgb(184,184,184)
  width: 100%
  max-width: 300px
  min-height: 240px
  @media screen and (min-width: $xlarge)
    max-width: 30rem

.imgContainer
  position: relative
  height: 8rem
  @media screen and (min-width: $xlarge)
    height: 14rem

.postInfoContainer
  padding: 1rem

.postMetaInfo
  display: flex
  flex-direction: column
  justify-content: space-between

.cardImg
  object-fit: cover

.timestamp
  margin-top: .5rem
  color: $light-gray
  font-size: 80%
