@import 'colors'
@import 'variables'

.article
  padding: 1rem
  margin-bottom: 5rem

.timestamp
  margin: 0
  font-style: italic
  color: $gray-font
  text-align: right
  font-size: .8rem
  @media screen and (min-width: $large)
    font-size: 1.3rem

.hr
  height: 1px
  border: none
  margin: .2rem auto 4rem
  background-color: $light-gray
  @media screen and (min-width: $medium)
    margin-bottom: 3rem
