@import 'variables';
@import 'colors';

html,
body {
  padding: 0;
  margin: 0;
  color: $gray-font;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h2 { // is this really necessary
  font-size: 1.5rem;
  font-weight: 400;
  @media screen and (min-width: $medium) {
    font-size: 2rem;
  }
  @media screen and (min-width: $large) {
    font-size: 2.5rem;
  }
}

// https://stackoverflow.com/questions/74925042/why-my-fonts-not-working-when-i-use-input-or-button-tags-in-next-js-13
button, input {
  font-family: inherit;
}

.text-center {
  text-align: center;
}

.slick-slider {
  cursor: pointer;
}

.slick-slide {
  &:not(.slick-active) {
    visibility: hidden;
  }
}

.slick-arrow {
  width: $slickNavArrowMobileSize;
  height: $slickNavArrowMobileSize;
  z-index: 2;
  transition: opacity .5s ease-in;
  &:hover {
    opacity: .35;
  }
  @media screen and (min-width: $medium) {
    width: $slickNavArrowDesktopSize;
    height: $slickNavArrowDesktopSize;
  }
}

.slick-prev, .slick-next {
  &:before {
    font-family: inherit;
    display: block;
    content: '';
    background-size: $slickNavArrowMobileSize $slickNavArrowMobileSize;
    background-repeat: no-repeat;
    height: $slickNavArrowMobileSize;
    @media screen and (min-width: $medium) {
      background-size: $slickNavArrowDesktopSize $slickNavArrowDesktopSize;
      height: $slickNavArrowDesktopSize;
    }
    @media (prefers-color-scheme: dark) {
      background-color: #424242;
    }
  }
}

.slick-prev {
  &:before {
    background-image: url('../assets/icons/icon-arrow-left.svg');
  }
}

.slick-next {
  &:before {
    background-image: url('../assets/icons/icon-arrow-right.svg');
  }
}

.slick-disabled {
  // opacity: 0;
  visibility: hidden;
}
